$colour-album: red;
$colour-artist: green;
$colour-track: blue;
$image-loading-bg: #EEE;

body {
  padding-top: 50px;
  background-image: url('/tweed.png');
}

.content {
  margin-top: 15px;

  h2, h3, h4 {
    color: #FFF;
  }
}

.circle
{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #000;
  display: inline-block;
}

.query-info {
  color: #EEE;
}

.cover {
  width: 100%;
  background: $image-loading-bg;
}

.box {
  padding: 15px;
  background: #F9F9F9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

  h2, h3, h4 {
    color: #333;
  }

  &:hover {
    background: #FFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  }
}


.result {
  padding: 10px;


  .info {
    height: 60px;
  }

  .title {
    height: 40px;
    overflow: hidden;
  }

  .result-type {
    text-align: right;
    line-height: 2em;
  }

  img {
    margin: 0 auto;
  }

  &.album {
    .circle {
      background: $colour-album;
    }
  }
  &.artist {
    .circle {
     background: $colour-artist;
    }
  }
  &.track {
    .circle {
      background: $colour-track;
    }
  }
}
