<h2>Welcome to First.fm</h2>

<div class="col-lg-12 well">
  <p>Search for albums, artists or tracks!</p>

  <p>This app was built with the following tools...</p>

  <ul>
    <li>Ember CLI</li>
    <li>Twitter Bootstrap</li>
    <li>Spotify Metadata API</li>
  </ul>

  <p>Chris Atkins 2014</p>

  <p><a href="https://twitter.com/itscatkins">@itscatkins</a> | <a href="https://github.com/catkins/first-fm">github</a></p>
</div>
